<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  namespace:名称空间
  -->
<mapper namespace="com.xxx.mapper.AddressMapper">

    <insert id="add">
        insert into addresss(city,detailaddress,email,receivername,phone)
        values(#{city},#{detailaddress},#{email},#{receivername},#{phone})
    </insert>

</mapper>