<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  namespace:名称空间
  -->
<mapper namespace="com.xxx.mapper.UserMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="phone">
        insert into client(phone,Client_sex,password,name)
        value(#{phone},#{Client_sex},#{password},#{name});
    </insert>

    <select id="selectByPhoneAndPass" resultType="com.xxx.pojo.User">
        select * from client where phone = #{phone} and password = #{password};
    </select>
    <select id="selectByPhone" resultType="com.xxx.pojo.User">
        select * from client where phone = #{phone};
    </select>


</mapper>